<div class="container pt-2">
  <div class="card w-40">
    <div class="card-body">
      <h5 class="card-title">Model: GRIF 9012</h5>
      <h5 class="card-title">Manufacturer: CNCMachinesUA</h5>
      <h5 class="card-title">Serial: pmtMvz45</h5>
    </div>
  </div>
  <div class="realtime-part mb-4">
    <h3 class="mt-2 mb-1 text-center">Realtime Voltage/Amperage</h3>
    <app-energy-chart
      [lineChartData]="realtimeLineChartData"
      [lineChartLabels]="realtimeLineChartLabels"
      [lineChartColors]="lineChartColors"
    ></app-energy-chart>
  </div>
  <div class="previous-time-part">
    <h3 class="mt-2 mb-1 text-center">Previous saved Voltage/Amperage</h3>
    <div class="pt-2 pb-2 d-flex justify-content-center">
      <select class="form-control w-50" name="period-time" id="period-time">
        <option value="last_hour">Last Hour</option>
        <option value="last_5_hours">Last 5 Hour</option>
        <option value="last_24_hours">Last 24 Hour</option>
        <option value="last_5_days">Last 5 Days</option>
        <option value="last_month">Last Month</option>
      </select>
    </div>
    <app-energy-chart
      [lineChartData]="notRealtimeLineChartData"
      [lineChartLabels]="notRealtimeLineChartLabels"
      [lineChartColors]="lineChartColors"
    ></app-energy-chart>
  </div>
</div>
